* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2efe8;
  font-family: "Instrument Sans", sans-serif;
  color: #000000;
}

.center {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


